@media (min-width: 320px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: brown;
    padding: 2%;

    h1 {
      color: white;
      text-align: center;
    }

    .navbar {
      display: flex;
      align-items: center;
      flex-direction: row;

      .elements {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 10px;

        a {
          text-decoration: none;
          font-weight: bolder;
          color: white;
          font-size: 20px;
          padding: 10px;

          &:hover {
            text-decoration: none;
            font-weight: bolder;
            color: white;
            font-size: 20px;
            background-color: rgb(165, 66, 66);
            border-radius: 3px;
          }
        }
      }
    }
    .trigger {
      display: none;
    }
  }
}

@media (max-width: 1281px) {
  .header {
    justify-content: space-around;
    background-color: brown;
    padding: 2%;

    h1 {
      color: white;
      align-self: center;
    }

    .navbar {
      display: flex;
      align-items: center;

      .elements {
        display: none;

        li {
          margin: 1px;

          a {
            text-decoration: none;
            font-weight: bolder;
            color: white;
            font-size: 16px;
            padding: 0px;
            margin-left: 1px;
          }
        }
      }

      .is-open {
        display: flex;
        flex-direction: row;
      }
    }
    .trigger {
      display: flex;
      align-items: center;
      font-weight: bolder;
      color: white;
    }
  }

  .is-open-header {
    display: flex;
    flex-direction: column;
  }
}
